//http://paletton.com/#uid=7430u0klfTY9BZ4g3WEq0QcvjK8

$darkPurple: #7115D3;
$darkYellow: #FFEE06;
$lightPurple: #D6B5FA;

body {
    font-family: 'Work sans';
    padding: 0;
    margin: 0;
    
    .pageTitle {
        color: #FFEE06;
        font-size: 2em;
        width: 100%;
        text-align: center;
        font-weight: 100;
    }

    .navbar {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        background-color: $darkPurple;
        font-size: 1em;
        color: $darkYellow;
        font-weight: 400;
        
        
        .menuItem {
            padding: 1em;
        }
        
        .menuItem:hover{
            background-color: #D6B5FA;
        }
        
        .rightNav {
            display: flex;
            justtify-contetn: flex-end;
        }
        
    //dropbutton functionality
        .dropbtn {
            padding: 1em;
            display: block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #FFF67F;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            //right: 0;
        }
        
        .rightNav .dropdown-content {
            right: 0;
            text-align: right;
        }

        .dropdown-content a {
            color: $darkPurple;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: $lightPurple
        }

        .login:hover .dropdown-content {
            background-color: $darkYellow;
            display: block;
        }

        .login:hover .dropbtn {
            background-color: $lightPurple;
        }
        
        
        .login {
            position: relative;
            display: inline-block;
            padding: 0;
        
            .dropdown-content{
                padding: 0;
            }
        }
        
        a {
            text-decoration: none;
            color: $darkYellow;
        }
        
    }
}

.varContent {
    margin-top: 212px;
}

.listOfPosts {
    h1 {
        display: none;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    li {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        align-items: center;
        background-color: #D6B5FA;
        padding: 1em;
        margin-top: 2em;
        margin-bottom: 2em;

        a {
            text-decoration: none;
            color: #7115D3;
        }
        
        a:hover {
            color: #FFEE06;
            text-decoration: underline;
        }
        
        .info {
            text-align: left;
            color: white;
        }
        
        .title {
            text-align: left;
            margin-left: 6%;
            font-size: 1.2em;
        }
        
        
        .voting{
            margin-left: 6%;
            margin-right: 6%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            #voteScore {
                text-align: center;
                width: 50px;
                color: $darkPurple;
            }
            
            .downVote  {
                
                button {
                    transform: rotate(180deg);
                }
            }
            
            button {
                background-image: url(http://chinagroups.ru/wp-content/themes/1ps-template/img/on-top.png);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;
                border-radius: 50%;
                /* put the height and width of your image here */
                height: 50px;
                width: 50px;
                border: none;
                margin-top: 15px;
                
                span {
                    display: none;
                }
                
            }
            
        }
        
        .placeKitten {
            height: 125px;
            width: 125px;
            margin-right: 6%;
            
            img {
            border-radius: 20px;
            -webkit-filter: grayscale(100%);
            }
        }

    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 999;
}


