//http://paletton.com/#uid=7430u0klfTY9BZ4g3WEq0QcvjK8

$darkPurple: #7115D3;
$darkYellow: #FFEE06;
$lightPurple: #D6B5FA;
$blue: #BEBAFA;
$lightYellow: #FFFAB3;

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 999;
}

body {
    font-family: 'Work sans';
    padding: 0;
    margin: 0;
    
    .pageTitle {
        color: #FFEE06;
        font-size: 2em;
        width: 100%;
        text-align: center;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        
        a {
            text-decoration: none;
            color: $darkYellow;
        }
    }
    
    nav {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-between;
        background-color: $darkPurple;
        font-size: 1em;
        color: $darkYellow;
        font-weight: 400;
        
        .menuItem {
            padding: 1em;
        }
        
        #middleNav{
            padding-left: 7em;
        }
        
        #middleNav:hover {
            background-color: $darkPurple;
        }
        
        .menuItem:hover{
            background-color: #D6B5FA;
        }
        
        .rightNav {
            display: flex;
            justify-content: flex-end;
        }
        
        
    //dropbutton functionality
        .dropbtn {
            padding: 1em;
            display: block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #FFF67F;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }
        
        .rightNav .dropdown-content {
            right: 0;
            text-align: right;
            min-width: 90px;
        }

        .dropdown-content a {
            color: $darkPurple;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: $lightPurple
        }

        .login:hover .dropdown-content {
            background-color: $darkYellow;
            display: block;
        }

        .login:hover .dropbtn {
            background-color: $lightPurple;
        }
        
        
        .login {
            position: relative;
            display: inline-block;
            padding: 0;
        
            .dropdown-content{
                padding: 0em;
            }
        }
        
        a {
            text-decoration: none;
            color: $darkYellow;
        }
        
    }
}

.varContent {
    margin-top: 253px;
}

//----------------homepage----------------
.listOfPosts {
    h1 {
        display: none;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    li {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        align-items: center;
        background-color: #D6B5FA;
        padding: 1em;
        margin-top: 2em;
        margin-bottom: 2em;

        a {
            text-decoration: none;
            color: #7115D3;
        }
        
        a:hover {
            color: #FFEE06;
            text-decoration: underline;
        }
        
        .info {
            text-align: left;
            color: white;
            width: 225;
        }
        
        .title {
            text-align: left;
            margin-left: 6%;
            font-size: 1.5em;
        }
        
        
        .voting{
            margin-left: 6%;
            margin-right: 6%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            #voteScore {
                text-align: center;
                width: 50px;
                color: $darkPurple;
            }
            
            .downVote  {
                
                button {
                    transform: rotate(180deg);
                }
            }
            
            button {
                background-image: url(http://chinagroups.ru/wp-content/themes/1ps-template/img/on-top.png);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;
                border-radius: 50%;
                /* put the height and width of your image here */
                height: 50px;
                width: 50px;
                border: none;
                margin-top: 15px;
                
                &:focus{
                    outline: none;
                    border: 2px solid $darkYellow;
                }
                
                span {
                    display: none;
                }
                
            }
            
        }
        
        .placeKitten {
            height: 125px;
            width: 125px;
            margin-right: 6%;
            
            img {
            border-radius: 20px;
            -webkit-filter: grayscale(100%);
            }
        }

    }
}


//----------------post with comments page----------------

.post {

    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #D6B5FA;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    
    h1 {
        color: $darkPurple;
        margin-left: 6%;
        font-size: 2.25em;
    }
    
    p {
        color: white;
        width: 225;
    }
    
    .placeKitten {
        height: 125px;
        width: 125px;
        margin-right: 6%;
            
            img {
                border-radius: 20px;
                -webkit-filter: grayscale(100%);
            }
        }
    
    
    .voting{
        margin-left: 6%;
        margin-right: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
            
        #voteScore {
            text-align: center;
            width: 50px;
            color: $darkPurple;
        }
            
        .downVote  {
                
            button {
                transform: rotate(180deg);
            }
        }
            
        button {
            background-image: url(http://chinagroups.ru/wp-content/themes/1ps-template/img/on-top.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            border: none;
            margin-top: 15px;
            
            &:focus{
                outline: none;
                border: 2px solid $darkYellow;
            }
                
            span {
                display: none;
            }
                
        }
            
    }
    
}

.comments {
    
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-left: 10%;
    
    .singleComment {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 2em;
        margin-bottom: 2em;   
        background-color: $darkYellow;
        justify-content: flex-end;
        right: 0;
        
        p {
            margin-left: 6%;
            margin-right: 6%;
            color: white;
        }
            
        h2 {
            color: $darkPurple;
        }
    }
}

//----------------all the forms----------------

.form {
    
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: $darkPurple;
    
    p{
        text-align: center;
    }
    
    input {
        color: $darkPurple;
    }
    
    input:focus {
        border: 2px solid $darkYellow;
        outline: none;
    }
    
    
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        div {
            display: flex;
            justify-content: center; 
            padding: 0.5em;
        }
        
        button {
            background: white;
            border: none;
            font-size: 0.7em;
            color: $darkPurple;
            border-radius: 8px;
            border: 2px solid $darkPurple;
            margin-top: 10px;
            min-width:  140px;
            
        }
        
        button:focus {
            outline:none;
            border: 2px solid $darkYellow;
        }
    }
}

//----------------errors----------------

.error {
    margin-top: 10em;
    text-align: center;
    color: $darkPurple;
    font-size: 1.5em;
}

//----------------spinning animation----------------


#animation {
    display: flex;
    flex-direction: column;
    perspective: 200px;
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;
}

#animation img{
    max-width:180px;
}

#animation #antenna {
    margin-left: 55px;
    transform-origin: 25% center;
    top: 4px;
    position: relative;
    max-width: 100px;
    
    &.isAnimated {
        animation: infinite-spinning 2s linear infinite;
    }
    
}


#animation img{
    max-width:180px;
}

@-webkit-keyframes infinite-spinning {

  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.eye {
    min-height: 23px;
    min-width: 23px;
    background: $darkYellow;
    position: absolute;
    top: 82px;
    border-radius: 50%;
    
}

#rightEye {
    left: 60px;
}

#leftEye {
    left: 101px;
}
