* {
  box-sizing: border-box; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 999; }

body {
  font-family: 'Work sans';
  padding: 0;
  margin: 0; }
  body .pageTitle {
    color: #FFEE06;
    font-size: 2em;
    width: 100%;
    text-align: center;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; }
    body .pageTitle a {
      text-decoration: none;
      color: #FFEE06; }
  body nav {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #7115D3;
    font-size: 1em;
    color: #FFEE06;
    font-weight: 400; }
    body nav .menuItem {
      padding: 1em; }
    body nav #middleNav {
      padding-left: 7em; }
    body nav #middleNav:hover {
      background-color: #7115D3; }
    body nav .menuItem:hover {
      background-color: #D6B5FA; }
    body nav .rightNav {
      display: flex;
      justify-content: flex-end; }
    body nav .dropbtn {
      padding: 1em;
      display: block; }
    body nav .dropdown-content {
      display: none;
      position: absolute;
      background-color: #FFF67F;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
    body nav .rightNav .dropdown-content {
      right: 0;
      text-align: right;
      min-width: 90px; }
    body nav .dropdown-content a {
      color: #7115D3;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
    body nav .dropdown-content a:hover {
      background-color: #D6B5FA; }
    body nav .login:hover .dropdown-content {
      background-color: #FFEE06;
      display: block; }
    body nav .login:hover .dropbtn {
      background-color: #D6B5FA; }
    body nav .login {
      position: relative;
      display: inline-block;
      padding: 0; }
      body nav .login .dropdown-content {
        padding: 0em; }
    body nav a {
      text-decoration: none;
      color: #FFEE06; }

.varContent {
  margin-top: 253px; }

.listOfPosts h1 {
  display: none; }
.listOfPosts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; }
.listOfPosts li {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #D6B5FA;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em; }
  .listOfPosts li a {
    text-decoration: none;
    color: #7115D3; }
  .listOfPosts li a:hover {
    color: #FFEE06;
    text-decoration: underline; }
  .listOfPosts li .info {
    text-align: left;
    color: white;
    width: 225; }
  .listOfPosts li .title {
    text-align: left;
    margin-left: 6%;
    font-size: 1.5em; }
  .listOfPosts li .voting {
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .listOfPosts li .voting .voteScore {
      text-align: center;
      width: 50px;
      color: #7115D3;
      margin: 5px 0; }
    .listOfPosts li .voting .downVote button {
      transform: rotate(180deg); }
    .listOfPosts li .voting button {
      background-image: url(http://chinagroups.ru/wp-content/themes/1ps-template/img/on-top.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      border: none; }
      .listOfPosts li .voting button:focus {
        outline: none; }
      .listOfPosts li .voting button span {
        display: none; }
    .listOfPosts li .voting .voteForm.hasVoted button {
      background-color: #FFEE06; }
  .listOfPosts li .placeKitten {
    height: 125px;
    width: 125px;
    margin-right: 6%; }
    .listOfPosts li .placeKitten img {
      border-radius: 20px;
      -webkit-filter: grayscale(100%); }

.post {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #D6B5FA;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em; }
  .post h1 {
    color: #7115D3;
    margin-left: 6%;
    font-size: 2.25em; }
  .post p {
    color: white;
    width: 225; }
  .post .placeKitten {
    height: 125px;
    width: 125px;
    margin-right: 6%; }
    .post .placeKitten img {
      border-radius: 20px;
      -webkit-filter: grayscale(100%); }
  .post .voting {
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .post .voting .voteScore {
      text-align: center;
      width: 50px;
      color: #7115D3;
      margin: 5px 0; }
    .post .voting .downVote button {
      transform: rotate(180deg); }
    .post .voting button {
      background-image: url(http://chinagroups.ru/wp-content/themes/1ps-template/img/on-top.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      border: none; }
      .post .voting button:focus {
        outline: none; }
      .post .voting button span {
        display: none; }
    .post .voting .voteForm.hasVoted button {
      background-color: #FFEE06; }

.comments {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin-left: 10%; }
  .comments .singleComment {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #FFEE06;
    justify-content: flex-end;
    right: 0; }
    .comments .singleComment p {
      margin-left: 6%;
      margin-right: 6%;
      color: white; }
    .comments .singleComment h2 {
      color: #7115D3; }

button, select {
  font-family: inherit;
  font-size: 100%; }

input, textarea {
  font-family: inherit;
  font-size: 75%; }

textarea {
  border: none; }

.form {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: #7115D3; }
  .form p {
    text-align: center; }
  .form input, .form textarea {
    color: #7115D3; }
  .form input:focus, .form textarea:focus {
    border: 2px solid #FFEE06;
    outline: none; }
  .form form {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .form form div {
      display: flex;
      justify-content: center;
      padding: 0.5em; }
    .form form button {
      background: white;
      border: none;
      font-size: 0.7em;
      color: #7115D3;
      border-radius: 8px;
      border: 2px solid #7115D3;
      margin-top: 10px;
      min-width: 140px;
      transition: all .3s ease-in-out; }
      .form form button:disabled {
        opacity: 0.6;
        cursor: not-allowed; }
      .form form button:enabled {
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16), 0 13px 45px 0 rgba(0, 0, 0, 0.12); }
        .form form button:enabled:hover {
          transform: scale(1.05); }
    .form form button:focus {
      outline: none;
      border: 2px solid #FFEE06; }
    .form form .postInput {
      background-color: #D6B5FA;
      border-radius: 5px;
      margin: 5px 0;
      padding: 0.8em;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .form form .postInput input, .form form .postInput textarea {
        width: 500px; }
      .form form .postInput .input1 {
        height: 70px; }
      .form form .postInput button {
        font-size: 0.4em;
        min-width: 70px;
        border-radius: 4px; }

.error {
  margin-top: 10em;
  text-align: center;
  color: #7115D3;
  font-size: 1.5em; }

#animation {
  display: flex;
  flex-direction: column;
  perspective: 200px;
  transform-style: preserve-3d;
  align-items: center;
  justify-content: center; }

#animation img {
  max-width: 180px; }

#animation #antenna {
  margin-left: 55px;
  transform-origin: 25% center;
  top: 4px;
  position: relative;
  max-width: 100px; }
  #animation #antenna.isAnimated {
    animation: infinite-spinning 2s linear infinite; }

#animation img {
  max-width: 180px; }

@-webkit-keyframes infinite-spinning {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
.eye {
  min-height: 23px;
  min-width: 23px;
  background: #FFEE06;
  position: absolute;
  top: 82px;
  border-radius: 50%; }

#rightEye {
  left: 60px; }

#leftEye {
  left: 101px; }

/*# sourceMappingURL=style.css.map */
