.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 999; }

body {
  font-family: 'Work sans';
  padding: 0;
  margin: 0; }
  body .pageTitle {
    color: #FFEE06;
    font-size: 2em;
    width: 100%;
    text-align: center;
    font-weight: 100; }
    body .pageTitle a {
      text-decoration: none;
      color: #FFEE06; }
  body .navbar {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #7115D3;
    font-size: 1em;
    color: #FFEE06;
    font-weight: 400; }
    body .navbar .menuItem {
      padding: 1em; }
    body .navbar #middleNav {
      padding-left: 7em; }
    body .navbar #middleNav:hover {
      background-color: #7115D3; }
    body .navbar .menuItem:hover {
      background-color: #D6B5FA; }
    body .navbar .rightNav {
      display: flex;
      justify-content: flex-end; }
    body .navbar .dropbtn {
      padding: 1em;
      display: block; }
    body .navbar .dropdown-content {
      display: none;
      position: absolute;
      background-color: #FFF67F;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
    body .navbar .rightNav .dropdown-content {
      right: 0;
      text-align: right;
      min-width: 90px; }
    body .navbar .dropdown-content a {
      color: #7115D3;
      padding: 12px 16px;
      text-decoration: none;
      display: block; }
    body .navbar .dropdown-content a:hover {
      background-color: #D6B5FA; }
    body .navbar .login:hover .dropdown-content {
      background-color: #FFEE06;
      display: block; }
    body .navbar .login:hover .dropbtn {
      background-color: #D6B5FA; }
    body .navbar .login {
      position: relative;
      display: inline-block;
      padding: 0; }
      body .navbar .login .dropdown-content {
        padding: 0em; }
    body .navbar a {
      text-decoration: none;
      color: #FFEE06; }

.varContent {
  margin-top: 212px; }

.listOfPosts h1 {
  display: none; }
.listOfPosts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; }
.listOfPosts li {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #D6B5FA;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em; }
  .listOfPosts li a {
    text-decoration: none;
    color: #7115D3; }
  .listOfPosts li a:hover {
    color: #FFEE06;
    text-decoration: underline; }
  .listOfPosts li .info {
    text-align: left;
    color: white;
    width: 225; }
  .listOfPosts li .title {
    text-align: left;
    margin-left: 6%;
    font-size: 1.5em; }
  .listOfPosts li .voting {
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .listOfPosts li .voting #voteScore {
      text-align: center;
      width: 50px;
      color: #7115D3; }
    .listOfPosts li .voting .downVote button {
      transform: rotate(180deg); }
    .listOfPosts li .voting button {
      background-image: url(http://chinagroups.ru/wp-content/themes/1ps-template/img/on-top.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      border-radius: 50%;
      /* put the height and width of your image here */
      height: 50px;
      width: 50px;
      border: none;
      margin-top: 15px; }
      .listOfPosts li .voting button:focus {
        outline: none;
        border: 2px solid #FFEE06; }
      .listOfPosts li .voting button span {
        display: none; }
  .listOfPosts li .placeKitten {
    height: 125px;
    width: 125px;
    margin-right: 6%; }
    .listOfPosts li .placeKitten img {
      border-radius: 20px;
      -webkit-filter: grayscale(100%); }

.post {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #D6B5FA;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em; }
  .post h1 {
    color: #7115D3;
    margin-left: 6%;
    font-size: 2.25em; }
  .post p {
    color: white;
    width: 225; }
  .post .placeKitten {
    height: 125px;
    width: 125px;
    margin-right: 6%; }
    .post .placeKitten img {
      border-radius: 20px;
      -webkit-filter: grayscale(100%); }
  .post .voting {
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .post .voting #voteScore {
      text-align: center;
      width: 50px;
      color: #7115D3; }
    .post .voting .downVote button {
      transform: rotate(180deg); }
    .post .voting button {
      background-image: url(http://chinagroups.ru/wp-content/themes/1ps-template/img/on-top.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      border: none;
      margin-top: 15px; }
      .post .voting button:focus {
        outline: none;
        border: 2px solid #FFEE06; }
      .post .voting button span {
        display: none; }

.comments {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin-left: 10%; }
  .comments .singleComment {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #FFEE06;
    justify-content: flex-end;
    right: 0; }
    .comments .singleComment p {
      margin-left: 6%;
      margin-right: 6%;
      color: white; }
    .comments .singleComment h2 {
      color: #7115D3; }

.form {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: #7115D3; }
  .form p {
    text-align: center; }
  .form input {
    color: #7115D3; }
  .form input:focus {
    border: 2px solid #FFEE06;
    outline: none; }
  .form form {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .form form div {
      display: flex;
      justify-content: center;
      padding: 0.5em; }
    .form form button {
      background: white;
      border: none;
      font-size: 0.7em;
      color: #7115D3;
      border-radius: 8px;
      border: 2px solid #7115D3;
      margin-top: 10px;
      min-width: 140px; }
    .form form button:focus {
      outline: none;
      border: 2px solid #FFEE06; }

.error {
  margin-top: 10em;
  text-align: center;
  color: #7115D3;
  font-size: 1.5em; }

#animation {
  display: flex;
  flex-direction: column;
  perspective: 200px;
  transform-style: preserve-3d;
  align-items: center;
  justify-content: center; }

#antenna {
  margin-left: 80px;
  transform-origin: 25% center;
  animation: infinite-spinning 2s infinite;
  top: 4px;
  position: relative; }

@-webkit-keyframes infinite-spinning {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

/*# sourceMappingURL=style.css.map */
